{{define "globalhead"}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/themes.css">
{{if .Devmode}}
<script>
  function setupAutoreload() {
    let clearToReload = false;
    const eventSource = new EventSource("/_reload");
    eventSource.addEventListener(
      "message",
      () => {
        if (clearToReload) {
          eventSource.close();
          window.location.reload()
        }
      },
    );
    eventSource.addEventListener("error", () => (clearToReload = true));
    document.addEventListener("pagehide", () => eventSource.close(), { once: true });
  }
  document.addEventListener("pageshow", setupAutoreload);
</script>
{{end}}
{{end}}
