{{define "globalhead"}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/svg+xml" href="/favicon.svg">
<link rel="mask-icon" href="/favicon.svg" color="#000000">
<link rel="alternate icon" type="image/png" href="/favicon.ico">
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/themes.css">
<script src="/postrenderer.js"></script>
{{if .Devmode}}
<script>
  function setupAutoreload() {
    let clearToReload = false;
    const eventSource = new EventSource("/_reload");
    eventSource.addEventListener(
      "message",
      () => {
        if (clearToReload) {
          eventSource.close();
          window.location.reload()
        }
      },
    );
    eventSource.addEventListener("error", () => (clearToReload = true));
    window.addEventListener("pagehide", () => eventSource.close(), { once: true });
  }
  window.addEventListener("pageshow", setupAutoreload);
</script>
{{end}}
{{end}}
