@import url("https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Bruno+Ace&family=WDXL+Lubrifont+JP+N&display=swap");
@import url("/utils.css");
@import url("/contentbox.css");

* {
  box-sizing: border-box;
}

html {
  background: var(--background);
  background-size: 100vw 100vh;
  color: var(--text-color);
}

html, body {
  margin: 0;
  padding: 0;
}

main {
  font-family: "WDXL Lubrifont JP N", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;

  padding: 1rem;
}
nav + main {
  padding-top: 0;
}

nav {
  margin: 1rem;
  border-radius: 3px;
  border: 1px solid var(--secondary-color);
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  padding: 0.5rem;
}
nav > a {
  display: inline-block;
  padding: 0.2rem;
  text-decoration: none;
  font-weight: bold;
  font-family: "Bruno Ace", sans-serif;
  font-style: normal;
  color: var(--secondary-color);
}
.eye-candy nav > a {
  background-clip: text;
  background-image: repeating-linear-gradient(transparent 0px 0px, var(--secondary-color) 1px 1px, transparent 2px 2px);
  color: transparent;

  animation-name: tiledown2px;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
nav > a.active {
  /* background-color: var(--secondary-color); */
  /* color: var(--background-color); */
  text-decoration: underline;
}

.visbox {
  padding: 0.5rem;
  border-radius: 3px;
  border: 1px solid var(--secondary-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-decoration: underline;
  font-family: "Bruno Ace", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}
p {
  margin: 1rem;
}

a {
  color: var(--link-color);
}

label {
  /* margin-left: 3px; */

  color: var(--secondary-color);
}
.eye-candy label {
  background-clip: text;
  background-image: repeating-linear-gradient(transparent 0px 0px, var(--secondary-color) 1px 1px, transparent 2px 2px);
  color: transparent;

  animation-name: tiledown2px;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
label + div.textbox-wrapper {
  margin-top: 0;
}

div.textbox-wrapper input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
div.textbox-wrapper {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}
div.textbox-wrapper input {
  all: unset;
  cursor: text;
  border: 1px solid var(--input-color);
  height: 100%;
  padding: 6px;
  padding-left: 11px;
  border-radius: 3px;
  color: var(--input-color);
}
.eye-candy div.textbox-wrapper input {
  caret-color: var(--input-placeholder-color);
  background-clip: text;
  background-image: repeating-linear-gradient(transparent 0px 0px, var(--input-color) 1px 1px, transparent 2px 2px);
  color: transparent;

  animation-name: tiledown2px;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
div.textbox-wrapper::before {
  width: 2px;
  content: '';
  display: inline-block;
  background: var(--input-decoration);
  position: absolute;
  top: 7px;
  bottom: 7px;
  left: 5px;
  border-radius: 2px;

  animation-name: fadeinout;
  animation-duration: 4s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

/* Button styles */
input[type="submit"], button, a.button {
  all: unset;

  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0.5rem;

  border: 1px solid var(--input-color);
  border-radius: 3px;
  background: var(--button-background);
  color: var(--button-text-color);

  text-align: center;
}
.eye-candy input[type="submit"], .eye-candy button, .eye-candy a.button {
  animation-name: tiledown8px;
  animation-duration: 4s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Table styles */
table.stylized {
  border-collapse: separate;
  border-spacing: 0;
}
table.stylized th {
  background: var(--table-header-background);
}
table.stylized th, table.stylized td {
  padding: 0.5rem;
  border-top: 1px solid var(--secondary-color);
  border-left: 1px solid var(--secondary-color);
}
table.stylized > thead:last-child > tr:last-child > th,
table.stylized > tbody:last-child > tr:last-child > td {
  border-bottom: 1px solid var(--secondary-color);
}
table.stylized > thead > tr > th:last-child,
table.stylized > tbody > tr > td:last-child {
  border-right: 1px solid var(--secondary-color);
}
table.stylized > thead:first-child > tr > th:first-child,
table.stylized > tbody:first-child > tr > td:first-child {
  border-top-left-radius: 3px;
}
table.stylized > thead:first-child > tr > th:last-child,
table.stylized > tbody:first-child > tr > td:last-child {
  border-top-right-radius: 3px;
}
table.stylized > thead:last-child > tr > th:first-child,
table.stylized > tbody:last-child > tr > td:first-child {
  border-bottom-left-radius: 3px;
}
table.stylized > thead:last-child > tr > th:last-child,
table.stylized > tbody:last-child > tr > td:last-child {
  border-bottom-right-radius: 3px;
}
.eye-candy table.stylized th {
  animation-name: tiledown8px;
  animation-duration: 4s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes tiledown4px {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: 4px;
  }
}

@keyframes tiledown2px {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: 2px;
  }
}

@keyframes tiledown8px {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: 8px;
  }
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
