@import url("https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Bruno+Ace&family=WDXL+Lubrifont+JP+N&display=swap");
@import url("/utils.css");
@import url("/contentbox.css");

* {
  box-sizing: border-box;
}

html {
  background: var(--background);
  background-size: 100vw 100vh;
  color: var(--text-color);
}

html, body {
  margin: 0;
  padding: 0;
}

main {
  font-family: "WDXL Lubrifont JP N", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
}

nav {
  margin: 1rem;
  border-radius: 3px;
  border: 1px solid var(--secondary-color);
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  padding: 0.5rem;
}
nav > a {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 3px;
  text-decoration: none;
  font-weight: bold;
  font-family: "Bruno Ace", sans-serif;
  font-style: normal;
  /* color: var(--secondary-color); */

  background-clip: text;
  background-image: repeating-linear-gradient(transparent 0px 0px, var(--secondary-color) 1px 1px, transparent 2px 2px);
  color: transparent;
}
.eye-candy nav > a {
  animation-name: tiledown2px;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
nav > a.active {
  /* background-color: var(--secondary-color); */
  /* color: var(--background-color); */
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem;
  text-decoration: underline;
  font-family: "Bruno Ace", sans-serif;
  font-weight: 400;
  font-style: normal;
}
p {
  margin: 1rem;
}

a {
  color: var(--link-color);
}

label {
  margin: 1rem;
  margin-left: calc( 1rem + 3px );
  margin-bottom: 0;

  background-clip: text;
  background-image: repeating-linear-gradient(transparent 0px 0px, var(--secondary-color) 1px 1px, transparent 2px 2px);
  color: transparent;
}
.eye-candy label {
  animation-name: tiledown2px;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
label + div.textbox-wrapper {
  margin-top: 0;
}

div.textbox-wrapper input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
div.textbox-wrapper {
  margin: 1rem;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}
div.textbox-wrapper input {
  all: unset;
  cursor: text;
  border: 1px solid var(--input-color);
  padding: 6px;
  padding-left: 11px;
  border-radius: 3px;
  color: var(--input-color);
  caret-color: var(--input-placeholder-color);
  background-clip: text;
  background-image: repeating-linear-gradient(transparent 0px 0px, var(--input-color) 1px 1px, transparent 2px 2px);
  color: transparent;
}
.eye-candy div.textbox-wrapper input {
  animation-name: tiledown2px;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
div.textbox-wrapper::before {
  width: 2px;
  content: '';
  display: inline-block;
  background: var(--input-decoration);
  position: absolute;
  top: 7px;
  bottom: 7px;
  left: 5px;
  border-radius: 2px;
}
.eye-candy div.textbox-wrapper::before {
  animation-name: fadeinout;
  animation-duration: 4s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

/* Button styles */
input[type="submit"], button, a.button {
  all: unset;

  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  margin: 1rem;
  width: calc( 100% - 2rem );
  padding: 6px;

  border: 1px solid var(--input-color);
  border-radius: 3px;
  background: var(--button-background);
  color: var(--button-text-color);

  text-align: center;
}
.eye-candy input[type="submit"], .eye-candy button, .eye-candy a.button {
  animation-name: tiledown8px;
  animation-duration: 4s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes tiledown4px {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: 4px;
  }
}

@keyframes tiledown2px {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: 2px;
  }
}

@keyframes tiledown8px {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: 8px;
  }
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
