html {
  --text-color: white;
  --text-faded-color: #777777;
  --accent-color: #FF4000;
  --secondary-color: #11FF11;
  --input-color: #11FF11;
  --input-placeholder-color: #005500;
  --input-decoration: linear-gradient(#005500F0, #66FF66FF 50%, #005500F0 100%);
  --button-text-color: #11FF11;
  --button-background: repeating-linear-gradient(rgba(0, 0, 0, 0.25) 0px, #002200 2px, rgba(0, 0, 0, 0.25) 4px);
  --table-header-background: var(--button-background);
  --decoration-color: #00B0FF;
  --background-color: #140500;
  --background:
    /* scan lines */ repeating-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 4px, rgba(0, 0, 0, 0) 8px),
    /* washed backlight */ linear-gradient(170deg, var(--background-color) 0%, #1F0800 100%);
  --link-color: var(--accent-color);
  --gradient-1: var(--background-color);
  --gradient-2: #C4CBCA;
}

.coltons-choice {
  --text-color: white;
  --accent-color: #FF0057;
  --decoration-color: #00FFC4;
  --background-color: #140500;
  --background:
    /* scan lines */ repeating-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 4px, rgba(0, 0, 0, 0) 8px),
    /* washed backlight */ linear-gradient(170deg, var(--background-color) 0%, #1F0800 100%);
  --link-color: var(--accent-color);
  --gradient-1: var(--background-color);
  --gradient-2: #C4CBCA;
}

.oceanblue-decor {
  --text-color: white;
  --accent-color: #FF4000;
  --decoration-color: #0084BF;
  --background-color: #140500;
  --background:
    /* scan lines */ repeating-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 4px, rgba(0, 0, 0, 0) 8px),
    /* washed backlight */ linear-gradient(170deg, var(--background-color) 0%, #1F0800 100%);
  --link-color: var(--accent-color);
  --gradient-1: var(--background-color);
  --gradient-2: #C4CBCA;
}

.darkred-decor {
  --text-color: white;
  --accent-color: #FF4000;
  --decoration-color: #8C0014;
  --background-color: #140500;
  --background:
    /* scan lines */ repeating-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 4px, rgba(0, 0, 0, 0) 8px),
    /* washed backlight */ linear-gradient(170deg, var(--background-color) 0%, #1F0800 100%);
  --link-color: var(--accent-color);
  --gradient-1: var(--background-color);
  --gradient-2: #C4CBCA;
}

.pink-decor {
  --text-color: white;
  --accent-color: #FF4000;
  --decoration-color: #FF0057;
  --background-color: #140500;
  --background:
    /* scan lines */ repeating-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 4px, rgba(0, 0, 0, 0) 8px),
    /* washed backlight */ linear-gradient(170deg, var(--background-color) 0%, #1F0800 100%);
  --link-color: var(--accent-color);
  --gradient-1: var(--background-color);
  --gradient-2: #C4CBCA;
}

.seagreen-decor {
  --text-color: white;
  --accent-color: #FF4000;
  --decoration-color: #00FFC4;
  --background-color: #140500;
  --background:
    /* scan lines */ repeating-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 4px, rgba(0, 0, 0, 0) 8px),
    /* washed backlight */ linear-gradient(170deg, var(--background-color) 0%, #1F0800 100%);
  --link-color: var(--accent-color);
  --gradient-1: var(--background-color);
  --gradient-2: #C4CBCA;
}

.brown-decor {
  --text-color: white;
  --accent-color: #FF4000;
  --decoration-color: #AA5539;
  --background-color: #140500;
  --background:
    /* scan lines */ repeating-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 4px, rgba(0, 0, 0, 0) 8px),
    /* washed backlight */ linear-gradient(170deg, var(--background-color) 0%, #1F0800 100%);
  --link-color: var(--accent-color);
  --gradient-1: var(--background-color);
  --gradient-2: #C4CBCA;
}

.electricblue-decor {
  --text-color: white;
  --accent-color: #FF4000;
  --decoration-color: #00B0FF;
  --background-color: #140500;
  --background:
    /* scan lines */ repeating-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 4px, rgba(0, 0, 0, 0) 8px),
    /* washed backlight */ linear-gradient(170deg, var(--background-color) 0%, #1F0800 100%);
  --link-color: var(--accent-color);
  --gradient-1: var(--background-color);
  --gradient-2: #C4CBCA;
}
