.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.center {
  align-items: center;
  justify-content: center;
}

.spacer {
  margin: auto;
}
