.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.wrap {
  flex-wrap: wrap;
}
.center {
  align-items: center;
  justify-content: center;
}
.f-grow {
  flex-grow: 1;
}
.f-align-start {
  align-items: flex-start;
}

.spacer {
  margin: auto;
}
