{{define "contentBoxStart"}}
<div class="center full-height">
  <div class="container">
    <div class="corner-brackets">
      <div class="window">
        <div class="window-decorations">
          <div class="spacer"></div>
          <img class="decoration" src="/decorations/minimize.svg?color=FFFFFF">
          <img class="decoration" src="/decorations/maximize.svg?color=FFFFFF">
          <img id="themeSwitcher" class="decoration" src="/decorations/close.svg?color=FFFFFF">
        </div>
{{end}}

{{define "contentBoxEnd"}}
      </div>
    </div>
  </div>
</div>
{{end}}

