<!DOCTYPE html>
<html class="{{.DailyTheme}}">
  <head>
    <title>Layers Beneath: Login</title>
    {{ template "globalhead" . }}
    <meta name="description" content="Log into Layers Beneath" />
    <link rel="stylesheet" href="/login.css" />
  </head>
  <body>
    {{template "contentBoxStart"}}
    <main class="flex column-nowrap">
      <h1>Login</h1>
      <div class="flex row-wrap">
        {{if .Config.Authentication.Local.Enabled}}
        <form action="/auth/local/firstfactor" method="POST" class="local-login">
          <label for="username">Username:</label>
          <div class="textbox-wrapper scanline-text">
            <input
              id="username"
              type="text"
              name="username"
              autocomplete="username"
              spellcheck="false"
            />
          </div>
          <label for="password">Password:</label>
          <div class="textbox-wrapper scanline-text">
            <input
              id="password"
              type="password"
              name="password"
              autocomplete="current-password"
              spellcheck="false"
            />
          </div>
          <input type="submit" value="Log In" />
        </form>
        {{end}} {{if gt (len .Config.Authentication.Oidc) 0}}
        <div class="auth-providers">
          <label>
            {{if .Config.Authentication.Local.Enabled}}Other{{end}}
            Providers:
          </label>
          {{range $oidcId, $oidc := .Config.Authentication.Oidc}}
          <a href="/auth/oidc/{{$oidcId}}/begin" class="button"
            >Log In with {{$oidc.Name}}</a
          >
          {{end}}
        </div>
        {{end}}
      </div>
    </main>
    {{template "contentBoxEnd"}}
  </body>
</html>
